<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css" />
    <title>Calorie Goals</title>
</head>
<body>
    <div class="container">
        <a href="/"><img src="../static/logo.png" alt="FitMark" class="logo" /></a></p>
  <div>
    <h1>Calorie Goals</h1>
    <div>
        <div>
            <h3>EASY</h3>
            <p>(1920 Cal)</p>
            <p>Want the occasional slice of cake? This plan is for you. Lose up 
                to 0.25kg a week and you may even reach your goal weight in
                25 weeks.</p>
            <h3>MODERATE</h3>
            <p>(1645 Cal)</p>
            <p>Get voted most likely to succeed. With the moderate plan, you
                    can lose up to 0.5kg per week, potentially reaching your goal
                    weight in 13 weeks.</p>
            <h3>CHALLENGING</h3>
            <p>(1370 Cal)</p>
            <p>Move it and lose it! This aggressive plan can help you drop up
                    to 0.75kg a week, putting you on track to hit your goal weight
                    within 9 weeks.</p>
            <h3>EXTREME</h3>
            <p>(1200 Cal)</p>
            <p>Overachiever much? Get ready to shed up to 1 kg a week with
                    this difficult plan and you may reach your goal weight in 7
                    weeks.</p>
        </div>

        <h3>For more health related stuff check out this site</h3>
        <div class="social-icona">
            <a href="https://www.gqindia.com/live-well">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z"/></svg>
            </a>
        </div>
    </div>
  </div>
    <div>
        <br>
        <br>
            <p>Go <a href="/register">Back</a></p>
    </div>
</div>
</body>
</html>